body {
  background-color: rgb(8, 8, 97);
  /* background-image: url("./img/bubbles.png"); */
  font-family: 'Marcellus', serif;
  color:#FFF;
  font-weight:300;
  font-size: larger;
}

.background-image{
  background-image: url("./img/wishes.png");
  height: 100vh;
  opacity: 30%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}


.header-wrapper {
  background-color: #3f00b39e;
  /* background-color: whitesmoke; */
  border-radius: 50%;
  padding: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 1.5em;
  height: max-content;
  min-width: 500px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)
}


.wrapper {
  /* border-style: solid; */
  border-radius: 10px;
  padding: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 1.5em;
  margin-top: 4em;
  height: max-content;
  background-color: #3f00b3b1;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25)
 
  
}

.h1 {
  color: rgb(254, 124, 62);
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo {
  width: 450px;
  /* object-fit: contain; */
}

.icon {
  width: 150px;
}

.button {
  transition: all .5s ease;
  color: #C364FA;
  border: 3px solid  #D391FA;
  /* font-family: 'Montserrat', sans-serif; */
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  margin-bottom: 2em;
}

.button:hover {
  color: #190087;
  background-color: #C364FA;
}

.button-align {
  text-align: center;
}

.button-in-wrapper {
  transition: all .5s ease;
  color: #eaddf2;
  border: 3px solid  #eaddf2;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  margin-left: 1em;
}

.button-in-wrapper:hover {
  color: #190087;
  background-color: #C364FA;
  margin-left: 1em;
}

.button-align-in-wrapper {
  text-align: center;
  padding-left: 1em;
}

.select-hover:hover {
  background-color: rgba(143, 0, 232, 0.372);
  transition: all 0.5s ease;
  margin-bottom: 1em;
  height: max-content;

}

hr {
    border: 0;
    height: 1px;
}












